@import "reset";

// 处理element-plus的样式公用
.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}

.el-table {
  margin-top: 15px;
}

.el-pagination {
  margin-top: 15px;
  justify-content: center !important;
  .el-input__inner {
    padding-left: 0 !important;
  }
}